h1{
    color:white;
    text-shadow:navy 1px 0 10px;
    background-color:rgba(0, 0, 0, 0.196);
}
h2{
    border-bottom-style:solid;
    border-bottom-color:red;
    border-bottom-width:1px;

}
h3{
    color:red;
    text-shadow:black 2px 2px;
}