h1{
    color:white;
    text-shadow:navy 1px 0 10px;
    background-color:rgba(0, 0, 0, 0.196);
}
h2{
    border-bottom-style:solid;
    border-bottom-color:#eee;
    border-bottom-width:1px;

}
h3{
    color:rgb(181, 62, 62);
    text-shadow:black 1px 1px;
    border-bottom-style:solid;
    border-bottom-color:#eee;
    border-bottom-width:1px;
}